<html>
<head>
      
  
  
  <script>
    var displaying_question = true;
    
    $(document).ready(function(){
      $('.parallax').parallax();
    })(jQuery);  
  
    function sleep(ms) {
      return new Promise(resolve => setTimeout(resolve, ms));
    };
    
    // joke variables for reuse
    <% jokeAnswer = "Love meant nothing to her" %>
    <% jokeQuestion = "I once tried to date a tennis player" %>
    <% jokeBtnQuestion = "But?" %>
    <% jokeBtnAnswer = "lol. Again!" %>
    
    async function tellJoke(){
      $('#joke-txt').addClass('scale-out');
      $('#joke-txt').removeClass('scale-in');
      
      if(displaying_question){
        document.querySelector('#joke').innerHTML = '<%= jokeAnswer %>';
        document.querySelector('#joke-btn').innerHTML = '<%= jokeBtnAnswer %>';
        await sleep(300);
        displaying_question = false;
      }
      else {
        document.querySelector('#joke').innerHTML = '<%= jokeQuestion %>';
        document.querySelector('#joke-btn').innerHTML = '<%= jokeBtnQuestion %>';
        await sleep(300);
        displaying_question = true;
      }
      
      $('#joke-txt').addClass('scale-in');
      $('#joke-txt').removeClass('scale-out');
    };
    
  </script>
  
</head>
<body> 
  
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  
  <!- joke and links -->
  <main>
    
  <!- parralax ->
  <div class="parallax-container main-parallax">
    <div class="parallax"><%= image_tag 'fox1.jpg' %></div>

    <div class='row'>
      <div class='container'>
        
        <!- joke ->
        <h2 class='joke-title-txt'>
          Joke of the Week
        </h2>
        <div class='divider'></div>
        <h4 class='center scale-transition' id='joke-txt'>
          <span id='joke'>
          <%= jokeQuestion %>
          </span>
        </h4>
        <div class='col offset-s6 offset-m7'>
          <a class="waves-effect waves-green btn-flat" id='joke-btn' onclick='tellJoke()'><%= jokeBtnQuestion%></a>
        </div>
      </div>
     </div> 
        <!- end of joke ->
        
      
      <!- links collections -->
      <div class='row links-row'>
        <div class='col s12 m12 l4'>
          <h5 class="header">Work</h5>
          <div class='links-container'>
            <div class="collection">
              <a href="https://mail.google.com/mail/u/0/#inbox" 
                  class="collection-item ">Gmail</a>
              <a href="https://drive.google.com/drive/my-drive" 
                  class="collection-item">Google Drive</a>
              <a href='https://www.udemy.com/home/my-courses/learning/'
                  class='collection-item'>Udemy</a>
              <a href='https://c9.io/'
                  class='collection-item'>Cloud9</a>
              <a href='http://materializecss.com/'
                  class='collection-item'>Materialize</a>
              <a href='http://web.airdroid.com/'
                  class='collection-item'>Airdroid</a>
            </div>  
          </div>
        </div>
        <div class='col s12 m12 l4'>
          <h5 class="header">School</h5>
          <div class='links-collection'>
            <div class="collection">
              <a href="https://outlook.office.com/owa/?realm=tigermail.auburn.edu" 
                  class="collection-item">Tigermail</a>
              <a href="https://auburn.instructure.com/?login_success=1" 
                  class="collection-item">Canvas</a>
              <a href="https://auaccess.auburn.edu/" 
                  class="collection-item">Au Access</a>
              <a href="https://scorp.herokuapp.com" 
                  class="collection-item">Scorp</a>
            </div>
          </div>
        </div>
        <div class='col s12 m12 l4'>
          <h5 class="header">Time-wasters</h5>
          <div class='links-container'>
            <div class="collection">
              <a href="https://www.facebook.com/" 
                  class="collection-item ">Facebook</a>
              <a href="https://www.youtube.com/" 
                  class="collection-item ">Youtube</a>
              <a href="https://cronometer.com/#diary" 
                  class="collection-item ">CRON-O-Meter</a>
              <a href="https://netflix.com" 
                  class="collection-item ">Netflix</a>
            </div>
          </div>
        </div>  
        
      </div>
      <!- end of links collections -->
      
      <br/>
      <br/>
      
    </div> 
    <!- end of parralax ->
  
  </main>
  <!- joke and links -->
  
  <!- cards --> 
  <div class='row cards'>
    <div class='col s12 l5 offset-l1'>
      <div class="card hoverable">
        <div class="card-image">
          <%= image_tag "rafa-miyao.jpg" %> 
          <span class="card-title">
          </span>
        </div>
        <div class="card-content">
          <p>Learn some BJJ</p>
        </div>
        <div class="card-action">
          <a href="https://www.youtube.com/results?search_query=mendes+brothers"
              target='_blank' color='#81c784'>Videos</a>
        </div>
      </div>
    </div>
    
    <div class='col s12 l5 '>
      <div class="card hoverable">
        <div class="card-image">
          <%= image_tag "lionandthelamb.jpg" %> 
          <span class="card-title">
          </span>
        </div>
        <div class="card-content">
          <p>Why should man expect mercy from what is above him when he shows no mercy to what is beneath him?</p>
        </div>
        <div class="card-action">
          <a href="https://www.youtube.com/watch?v=uMFt6sjPATw&index=1&list=FLvTkwJNdtJq4E3_lzgehGBw"
              target='_blank'>Videos</a>
        </div>
      </div>  
    </div>
  </div>
  
  <!- end of cards --> 

  <!- parralax ->
  <div class="parallax-container">
    <div class='handstand-parallax'>
      <div class="parallax"><%= image_tag 'fox2.jpg' %></div>
    </div>
  </div>  
  <!- end of parralax ->
  
  <!- earthlings ->
  <div class='row earthlings-row'>
    <div class='container'>
      <div class='col s12 earthlings-text'>
        <h4 class='earthlings-title'>Please take time to watch these...</h4>
      </div>
      <div class='col s12 earthlings-text'>
        <h5 class='earthlings-title'>
          The only <em>two reasons</em> someone is not vegan: they're <em>not educated</em> or they're just <em>arrogant</em>.
        </h5>
      </div>
      <div class='col s12 center '>
        <a href="http://www.nationearth.com/earthlings-1/" 
            class="center earthlings-link ">-Earthlings-
        </a> 
      </div>
      <div class='col s12 center'>
        <h5 id='or-txt'>and</h5>
      </div>
      <div class='col s12 center '>
        <a href="https://www.youtube.com/watch?v=W4HJcq8qHAY" 
            class="center earthlings-link ">-Reasons to go Vegan-
        </a> 
      </div>
    </div>
  </div>
  <!- end of earthlings ->
  
  
</body>

  
</html>
