<!DOCTYPE html>
<html>
<head>
  <title>Just Chillax, Dawg</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link rel="manifest" href="manifest.json">
  <script src="http://localhost:1337/vorlon.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/navigation' %>
  
    <%= yield %>
    
  <%= render 'layouts/footer' %>
  
</body>
</html>
